<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzy.mapper.GoodsMapper">
	   <resultMap type="Goods" id="goodsMap">
	      <id column="gid" property="gid"/>
	      <result column="gname" property="gname"/>
	      <result column="price" property="price"/>
	      <result column="size" property="size"/>
	      <result column="gnum" property="gnum"/>
	      <association property="brand" javaType="Brand">
	          <result column="bid" property="bid"/>
	          <result column="bname" property="bname"/>
	          <result column="descp" property="descp"/>
	      </association>
	   </resultMap>
    
       <select id="list" resultMap="goodsMap">
            select * from goods left join brand on goods.bid=brand.bid
            <where>
               <if test="mohu!='' and mohu!=null">
                  and gname like concat('%',#{mohu},'%')
               </if>
            </where>
       </select>
       
       <select id="brandList" resultType="brand">
           select * from brand
       </select>
       
       <insert id="add" parameterType="Goods">
          insert into goods value(null,#{gname},#{price},#{size},#{gnum},#{brand.bid})
       </insert>
</mapper>